
body {
  align-items: center;
  display: grid;
  font-family: sans-serif;
  font-size: 20px;
  height: 95vh;
  justify-items: center;
  width: 98vw;
}

main {
  display: grid;
  height: 100%;
  justify-items: center;
  max-height: 600px;
  max-width: 50vw;
  width: 100%;
}

#timer-btn {
  background-color: #ddd;
  border: none;
  border-radius: 5px;
  height: 35px;
  margin: 20px auto 0 auto;
  transition: 0.1s ease all;
  width: 100px;
}

#timer-btn:hover {
  cursor: pointer;
  background-color: #aaa;
  transition: 0.1s ease all;
}

#timer-btn-container {
  display: grid;
  justify-items: center;
  width: 100%;
}
