body {
	background-color: rgb(204, 255, 204); /* pomo 174, 224, 174  short: 242, 197, 247; long: 185, 232, 237 */
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 0;
	min-width: 950px;
	overflow-y: scroll;
}

#site-header {
	text-align: center;
	font-size: 300%;
	margin-top: 20px;
}

/* nav-buttons */
nav {
	user-select: none;
}

.taskbar-button {
	height: 50px;
	width: 50px;
	padding: 20px;
}

.taskbar-button:hover {
	border: 1px solid;
	border-radius: 10px;
	margin: -1px;
}

/* nav-bar */
#task-bar {
	text-align: center;
}

/* timer */
#current-task-container {
	text-align: center;
	margin-top: 30px;
}

#current-task {
	display: inline-block;
	font-size: 300%;
	margin: 0;
	text-align: center;
	max-width: 450px;
	word-wrap: break-word;
}

#done-button {
	cursor: pointer;
	display: inline-block;
	font-size: 500%;
	height: 40px;
	margin: -5px;
	outline: 0;
	padding-left: 20px;
	text-align: center;
	width: 40px;
}

#time-remaining {
	font-size: 750%;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
}

#timer-state-message {
	text-align: center;
	font-size: 150%;
}

#timer-button-container {
	text-align: center;
}

#timer-button {
	border-radius: 12px;
	font-size: 170%;
	padding: 2px, 2px, 8px, 8px;
	width: 300px;
	height: 60px;
	outline: 0;
}

#timer-button:hover {
	background-color: rgb(207, 207, 207);
}

/* task-list */
#table-label {
	width: 10px;
	text-align: center;
	display: inline;
	margin: 0 auto;
	font-size: 210%;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

#table-name-label {
	display: inline-block;
	margin-right: 170px;
}

#table-pomo-label {
	display: inline-block;
}

#task-list {
	text-align: center;
}

#tasks-container {
	width: 10px;
	text-align: center;
	display: table;
	margin: 0 auto;
}

#add-task-container {
	width: 700px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 50px;
}

#new-task-name {
	width: 420px;
	height: 50px;
	margin-left: 60px;
	font-size: 210%;
}

#new-task-count {
	width: 40px;
	height: 50px;
	font-size: 210%;
	text-align: right;
}

#add-task-button {
	width: 70px;
	height: 60px;
	margin-right: 10px;
	font-size: 300%;
	font-weight: bold;
	border-radius: 15px;
	border: 3px solid black;
	outline: none;
	color: black;
	background-color: rgb(204, 255, 204);
}

/* faq */
#faq {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	max-width: 50%;
}

#faq h3 {
	font-size: 210%;
	font-family: 'Open Sans', sans-serif;
}

#faq p, li {
	font-size: 130%;
	font-family: 'Open Sans', sans-serif;
}

/* stats */
#stats {
	text-align: center;
}

#overall-stats {
	min-width: 750px;
	width: 750px;
	text-align: left;
	margin: 0 auto;
	font-size: 210%;
	font-family: 'Open Sans', sans-serif;
}

#stats-container {
	width: 10px;
	text-align: center;
	display: table;
	margin: 0 auto;
}

#stats-table-label {
	width: 10px;
	text-align: center;
	display: inline;
	margin: 0 auto;
	font-size: 210%;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

#stats-table-name-label {
	display: inline-block;
	margin-left: 70px;
	margin-right: 260px;
}

#stats-exp-label {
	display: inline-block;
}

#stats-actual-label {
	display: inline-block;
	margin-left: 30px;
}

/*settings*/
#settings {
	min-width: 550px;
	width: 550px;
	height: fit-content;
	margin: 40px auto 0;
	font-size: 210%;
	font-family: 'Open Sans', sans-serif;
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: 1fr min-content;
	row-gap: 30px;
	column-gap: 30px;
	align-items: center;
}

#settings > .settings-option {
	justify-self: center;
}

#settings > select {
	width: auto;
	height: 3ch;
	font-size: 30px;
}

.toggle {
	--width: 65px;
	--height: calc(var(--width) * 0.45);
	--radius: calc(var(--height) / 2);
	cursor: pointer;
	display: inline-block;
}

.toggle-handle {
	display: none;
}

.toggle-slider {
	width: var(--width);
	height: var(--height);
	position: relative;
	border-radius: var(--radius);
	background: #ddd;
	transition: background-color 0.15s;
}

.toggle-slider::after {
	width: var(--height);
	height: var(--height);
	content: '';
	position: absolute;
	background-color: #eee;
	border-radius: var(--radius);
	box-shadow: 0 0 10px #0004;
	transition: transform 0.15s;
}

.toggle-handle:checked + .toggle-slider {
	background-color: #3cf;
}

.toggle-handle:checked + .toggle-slider::after {
	transform: translateX(calc(var(--width) - var(--height)));
}
